{% extends "base.html" %}


	

{% block content %}

<div class="w-container">
    <div class="w-row">
        <div class="w-col w-col-12 u-text-center u-marginbottom-10">
            <a href="/pt"><img class="logo-login" src="" alt="Logo icon catharsis"></a>
        </div>
    </div>
    <div class="w-row" id="login">
        <div class="w-col w-col-8 box-login w-col-push-2">
            <div class="fontweight-semibold u-text-center fontsize-large u-marginbottom-30">
                <font>
                    <font>Create New Project</font>
                </font>
            </div>
            <div class="login-fb">
                <a class="btn btn-medium btn-fb" href="/auth/facebook">
                </a>
            </div>
            <div class="separator">
            </div>

            <div class="w-form">
            	<form method="post" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" />
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}

