<section id="blog" class="section-large bg-gray before-footer">
    <div class="w-container">
        <div class="u-text-center">
            <a href="#" target="blank"><img alt="Icon blog" src="/assets/icon-blog.png" class="u-marginbottom-10"></a>
            <div class="fontsize-large u-marginbottom-60 text-success"><a href="#" target="__blank" class="link-hidden-success">Blogs </a></div>
        </div>
        <div class="w-row">
            <div class="w-col w-col-4 col-blog-post"><a href="#" target="__blank" class="link-hidden fontweight-semibold fontsize-base u-marginbottom-10">Blog title</a>
                <div class="fontsize-smaller fontcolor-secondary u-margintop-10">
                    A data flow diagram (DFD) is a graphical representation of the "flow" of data through an information system, modelling its process aspects
                </div>
            </div>
        </div>
    </div>
</section>
