<footer class="main-footer main-footer-neg">
    <section class="w-container">
        <div class="w-row">
            <div class="w-col w-col-9">
                <div class="w-row">
                    
                    <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4 w-hidden-tiny">
                        <div class="footer-full-signature-text fontsize-small">About</div><a href="/pt/jobs" class="link-footer"> About us</a>
                    </div>
                    
                    <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4 footer-full-firstcolumn">
                        <div class="footer-full-signature-text fontsize-small">Instructions</div><a href="/pt/privacy-policy" class="link-footer"> How to</a>
                    </div>
                    
                    <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4 footer-full-lastcolumn">
                        <div class="footer-full-signature-text fontsize-small">Navigation</div><a href="/pt/start?ref=ctrse_footer" class="w-hidden-small w-hidden-tiny link-footer"> All projects</a>
                    </div>
                </div>
            </div>
            <div class="w-col w-col-3 column-social-media-footer">
                <div class="footer-full-signature-text fontsize-small">Assine nossa news</div>
                <div class="w-form">
                    <form accept-charset="UTF-8" action="/pt/subscribe_newsletter" id="mailee-form" method="post">
                        <div class="w-form footer-newsletter">
                            <input id="EMAIL" label="email" name="EMAIL" placeholder="Newsletter" type="email" class="w-input text-field prefix">
                        </div>
                        <button style="padding:0;" class="w-inline-block btn btn-edit postfix btn-attached"><img alt="Icon newsletter" src="icon-newsletter.png" class="footer-news-icon"></button>
                    </form>
                </div>
                <div class="w-widget w-widget-facebook u-marginbottom-20">
                    <div class="facebook">
                    </div>
                </div>
                <div class="w-widget w-widget-twitter"></div>
                <div class="u-margintop-30"></div>
            </div>
        </div>
    </section>
    <div class="w-container">
        <div class="footer-full-copyleft"><img alt="Logo footer" src="/assets/logo-footer.png" class="u-marginbottom-20">
            <div class="lineheight-loose"><a href="http://github.com" class="link-footer-inline"> Bivu Raj | 2017 | Buddha Web</a></div>
        </div>
    </div>
</footer>
