<div class="w-slider hero-full hero-full-slide">
    <div class="fontsize-larger"></div>
    <div class="w-slider-mask">
        <div style="opacity: 0; visibility: hidden; background-image: url(banner-home-insubiota.jpg);" class="slide w-slide hero-slide start">
            <div class="w-container">
                <div class="w-row">
                    <div class="w-col w-col-8 w-col-push-2">
                        <div class="w-container u-text-center">
                            <div class="w-row u-marginbottom-40">
                                <h1 class="fontcolor-negative fontsize-megajumbo u-marginbottom-20">Insubiota</h1>
                                <h2 class="fontcolor-negative fontsize-large">Ajude estudantes da UNESP a desenvolver um novo tratamento para diabetes e levá-lo ao MIT!</h2></div><a href="#" class="btn btn-large u-marginbottom-10 btn-inline">Conheça o projeto</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div style="opacity: 0; visibility: hidden; background-image: url(banner-home-2016.jpg);" class="slide w-slide hero-slide start">
            <div class="w-container">
                <div class="w-row">
                    <div class="w-col w-col-8 w-col-push-2">
                        <div class="w-container u-text-center">
                            <div class="w-row u-marginbottom-40">
                                <h1 class="fontcolor-negative fontsize-megajumbo u-marginbottom-20">2016</h1>
                                <h2 class="fontcolor-negative fontsize-large">Blah blah blah blah.</h2></div><a href="#" class="btn btn-large u-marginbottom-10 btn-inline">More ead</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="slide-prev" class="w-slider-arrow-left w-hidden-small w-hidden-tiny">
            <div class="w-icon-slider-left fa fa-lg fa-angle-left fontcolor-terciary"></div>
        </div>
        <div id="slide-next" class="w-slider-arrow-right w-hidden-small w-hidden-tiny">
            <div class="w-icon-slider-right fa fa-lg fa-angle-right fontcolor-terciary"></div>
        </div>
        <div class="w-slider-nav w-slider-nav-invert w-round slide-nav">
            <div class="slide-bullet w-slider-dot"></div>
            <div class="slide-bullet w-slider-dot"></div>
            <div class="slide-bullet w-slider-dot w-active"></div>
            <div class="slide-bullet w-slider-dot"></div>
            <div class="slide-bullet w-slider-dot"></div>
            <div class="slide-bullet w-slider-dot"></div>
        </div>
    </div>
</div>
